.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 30px 70px;
  margin:50px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.googleBtn{
  color: #DD4B39;
}

.fbBtn{
  color: #3B5998;
}

.linkedInBtn{
  color: #007BB6;
}

.twitterBtn{
  color: #55ACEE;
}

.mail{
  color: #2672EC;
}

li a{
  color: black;
}

li i{
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn-group .btn {
  font-size: 12px;
}

.corpLead, .renderLeader{
  margin-bottom: 30px;
}

#loginButton{
  margin-top: 20px;
}

#usernameLabel, #passwordLabel{
  font-weight: 600;
  font-size: 20px;

}